<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>alfred.theme.custom.5AE11599-F7AF-4CCC-974E-ED6A6133E77A</string>
	<key>theme</key>
	<string>alfred.theme.custom.5AE11599-F7AF-4CCC-974E-ED6A6133E77A</string>
</dict>
</plist>
