.DS_Store
vim/plugged
ycm_extra_conf.pyc
ranger/bookmarks
ranger/history
ranger/tagged
local/
.mono/
configstore/
plugin/
node_modules/
.zhistory
.zcompdump*
chromium
fcitx
menus/
.netrwhist
dconf/user

coc/history.json
coc/mru
coc/memos.json
coc/extensions/db.json

vim/log/vim-lsp.log
vim/sessions/default.vim

*.last-run
*.merged-ca-bundle
*.system-ca-bundle
*.user-ca-bundle
*.cache

fishd.*
fish_history
fish_variables
generated_completions
